.App {
    background-color: #f5f5f5;
    padding: 20px;
    font-family: sans-serif;
}

.Estudiante {
    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
}

.Estudiante h2 {
    font-size: 24px;
}

.Estudiante p {
    font-size: 18px;
}

.Hobbies {
    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
}

.Hobbies h2 {
    font-size: 24px;
}

.Hobbies ul {
    list-style: disc;
    padding-left: 30px;
    font-size: 18px;
}



